.site-header {
	background-color: $color__bright;
  border-bottom: 1px solid #D1D1D1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 8;
 
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
    min-height: 60px;
    padding: 0 22px;
	}
	&__item {
		flex-grow: 1;
	}
	&__logo {
		max-width: 268px;
    display: flex;
    align-items: center;
    svg{
      width: 268px;
      display: block;
    }
	}
  // SEARCH BAR TOP
  #searchform{
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    >label{
      color: $color__main;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .search-field{
      border: none;
      border-bottom:2px solid #D1D1D1;
      width: 260px;
      &:focus, &:active{
        outline: none !important;
        border-color: $color__main;
      }
    }
    #searchSubmit{
      background-color: transparent;
      border: none!important;
      display: flex;
      &:hover{
        cursor: pointer;
      }
      
    }
  }
}

