#content{
  position: relative;
  top: 60px;
  left: calc(#{$side-nav-width} + #{$sub-nav-width__open});
  width: calc(100vw - #{$side-nav-width} - #{$sub-nav-width__open});
  transition: width .4s , left .4s;
  transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1);
  &.wide{
    left: calc(#{$side-nav-width} + #{$sub-nav-width__close});
    width: calc(100vw - #{$side-nav-width} );
  }
  &.is-full{
    left: #{$side-nav-width};
    width: calc(100vw - #{$side-nav-width});
  }
}


// MAIN FLEX CONTAINER

.site-container{
  display: flex;
  align-items: flex-start;
  .main-nav{
    width: #{$side-nav-width};
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 5;
  }
  .main-subNav{
    width: #{$sub-nav-width__open};
    min-height: calc(100vh - 60px);
    z-index: 1;
    position: fixed;
    left: #{$side-nav-width};
    transition: width .4s , left .4s;
    transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1);
    &.close{
      width: #{$sub-nav-width__close};
    }
  }
  .main{
    width: 100%;
  }
}

// Glide carousel
