// MAIN NAVIGATION
.main-nav{
  padding: 25px 0;
  background-color: $color__main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .topNav , .bottomNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  // TOPNAV
  .topNav{
    li>a{
      color: $color__bright;
      display: inline-block;
      margin-bottom: 20px;
      svg{
        path:not(.rect){
          fill: $color__bright;
        }
      }
      &.active , &:hover{
        svg{
          rect, .rect{
            fill: $color__bright;
          }
          path{
            fill: #28313B;
          }

        }
      }
    }
  }
  // BOTTOM NAV
  .bottomNav{
    li{
      &:first-of-type{
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 26px;
          height: 26px;
        }
        &:hover{
          svg{
            path{
              stroke: $color__accent;
            }
          }
        }
      }
      &:last-of-type{
        margin-top: 20px;
        background-color:#F7F6F9 ;
        border: 2px solid #C7D5D5;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          path, circle{
            stroke: $color__main;
          }
        }
        &:hover{
          border-color: $color__accent;
        }
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
   // Tooltip
   li{
    position: relative;
    &:hover{
      >span{
        opacity: 1;
        z-index: 10;
      }
    }
    &:nth-child(3){
      >span{
        width: 140px;
        right: -172px;
      }
    }
    > span{
      position: absolute;
      right: -122px;
      width: 90px;
      display: inline-block;
      top: 2px;
      z-index: -1;
      pointer-events: none;
      height: 32px;
      background-color: #F3F4F5;
      border: 1px solid $color__main;
      padding: 3px 8px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-size: 13px;
      font-weight: 600;
      color: $color__main;
      opacity: 0;
      transition: .5s;
      &:after{
        content: '';
        position: absolute;
        left: -10px;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent $color__main transparent transparent;
      }
    }
  }
}



// SUBNAVIGATION
.main-subNav{
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid $color__accent;
  position: relative;
  &__nav{
    ul{
      list-style: none;
    }
    .menu{
      >li{
        margin-bottom: 7px;
        >a{
          display: block;
          padding: 5px 0 5px 18px;
          font-size: 14px;
          position: relative;
          &:hover{
            text-decoration: underline;
            &::before{
              opacity: 1;
            }
          }
          &::before{
            @include pseudo;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color__accent;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            opacity: 0;
            transition: .3s;
          }
        }
        &.current-menu-item{
          >a{
            font-weight: 600;
            z-index: 1;
            &::after{
              @include pseudo;
              width: 100%;
              height: 100%;
              background-color: $color__accent;
              opacity: 0.15;
              z-index: 0;
              top: 0;
              left: 0;
            }
            &::before{
              opacity: 1;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }

    // CHILD NAVIGATION
    .menu-item ._svg{
      width: 20px;
      height: 20px;
    }
  }

  &__footer{
    p{
      font-size: 13px;
      color: $color__dark;
      line-height: 18px;
      margin-top: 1rem;
      strong{
        font-weight: 600;
      }
    }
  }




  // OPEN CLOSE CSS
  &.open{
    .main-subNav__icon{
      svg{
        transform: rotate(0deg);
      }
    }
  }
  .main-subNav__footer, .main-subNav__nav{
    opacity: 0;
    pointer-events: none;
    display: none;
    padding: 0px 2.7rem;
  }

  &__icon{
    position: absolute;
    right: -15px;
    top: 25px;
    svg{
      transform-origin: center center;
      transform: rotate(180deg);
      transition: all .3s;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

