.training-main{
  padding-bottom: 42px;
}
.training-content{
  padding-top: 44px;
  width: 85%;
  @include media('<phone'){
    width: 100%;
  }
}

.forminator-custom-form{
  display: block!important;
}

.training-content{
  .wp-block-image{
    position: relative;
    width: 100%;
    height: 350px;
    @include media('<phone-land'){
      height: 250px;
    }
    @include media('<phone'){
      height: 130px;
    }
    >img{
      @extend %cover;
      object-fit: cover;

    }
  }

}