/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  *
  */
// =============== RESPONSIVE ================

$breakpoints:(
  'phone': 640px,
  'phone-land': 820px,
  'tablet': 1024px,
  'desktop': 1366px,
  'wideScreen': 1490px
  ) !default;
  
  @import '~include-media/dist/include-media';
  // EXAMPLE
  // @include media(">phone", "<=tablet") {
    //   width: 50%;
    //   }


/*==================================================================================
  FONT
==================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

$text__fontname: 'Quicksand', sans-serif; // 300 400 600
$header__fontname: 'Quicksand', sans-serif; //  300 400 600

/*==================================================================================
  COLORS
==================================================================================*/

/* from customiser root -> see function-customiser.php
/––––––––––––––––––––––––*/
$color__main: #043f4d;
$color__text: #848484;
$color__link: $color__main;

$color__bright: #ffffff;
$color__dark: #0A1F2A;
$color__accent: #F8B41E;
$color__balck: #000000;
$color__footerBg: $color__bright;

/*==================================================================================
  BUTTONS
==================================================================================*/

$button__color: $color__main;
$button__width: 150px;
$button__height: 45px;
$button__radius: 30px;

/*==================================================================================
  TYPOGRAPHY
==================================================================================*/

$text__h1: 2.5rem;
$text__h2:2rem;
$text__h3: 1.4rem;
$text__h4: 1.3rem;
$text__h5: 1.8rem;
$text__h6: 1.5rem;
$text__p: 1.5rem;

$font__weight: 400; //This is the global font-weight for text, link etc.. Specify header weight separetelly


/*==================================================================================
  MAIN LAYOUT MEASURE
==================================================================================*/

$side-nav-width: 7.5rem;
$sub-nav-width__open: 22rem;
$sub-nav-width__close: 1.7rem;
